/**
 * @name Limbus Company Theme (Ishmael.ver)  
 * @version 1.0.6.3
 * @description A 'Limbus Company' Discord theme (Ishmael.ver) Warning: This theme is *NOT OPTIMIZED* expect bugs and lag!
 * @author Srit/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @BDEditor Translucence
*/
@import url('https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css');

:root {
  --app-bg: url('https://raw.githubusercontent.com/Special-Srit/Discord_themes/refs/heads/main/Limbus/Fishmael/Fishmael.png');
  --app-blur: 0px;
  --app-margin: 24px;
  --app-radius: 8px;
  --accent-hue: 21;
  --accent-saturation: 100%;
  --accent-lightness: 62%;
  --accent-opacity: 1;
  --sidebar-color: rgb(207,0,0,0.35);
  --main-content-color: rgb(0,0,0,0.66);
  --interactive-normal: #FFFFFF;
  --interactive-hover: #ddd;
  --interactive-active: #fff;
  --interactive-muted: #777;
  --background-modifier-hover: rgb(185,87,87,0.26);
  --background-modifier-selected: rgb(207,0,0,0.66);
  --message-color: rgba(0,0,0,0.4);
  --message-radius: 8px;
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --reply-hue: 334;
  --reply-saturation: 77%;
  --reply-lightness: 61%;
  --reply-opacity: 1;
  --textarea-color: 255,255,255;
  --textarea-alpha: 0.16;
  --textarea-alpha-focus: 0.15;
  --textarea-radius: 22px;
  --card-color: rgb(235,235,235,0.2);
  --card-color-hover: rgba(0,0,0,0.5);
  --card-color-select: rgba(0,0,0,0.7);
  --button-height: 32px;
  --button-padding: 0 16px;
  --button-radius: 16px;
  --customEmojiIconURL: url(https://raw.githubusercontent.com/Special-Srit/Discord_themes/refs/heads/main/Limbus/Fishmael/Ishmael.png);
  --customEmojiIconMask: url(https://raw.githubusercontent.com/Special-Srit/Discord_themes/refs/heads/main/Limbus/Fishmael/Ishmael.png);
  --discord-icon: none;
  --home-icon: block;
  --home-icon-url: url('https://raw.githubusercontent.com/Special-Srit/Discord_themes/refs/heads/main/Limbus/Fishmael/Ishmael.png');
  --prompt-text: "입을 열 시간이 있나? 고래에 집중해!";
}

[class*=emojiButton] [class*=spriteColored] {
  background: var(--customEmojiIconURL) center/contain no-repeat;
}

[class*=emojiButton] [class*=spriteGreyscale] {
  mask: var(--customEmojiIconMask) center/contain no-repeat;
}

[class^=content]:has(> video[data-testid="app-spinner"]) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    translate: 25%;
    width: 200px;
    height: 180px;
    background-image: url('https://raw.githubusercontent.com/Special-Srit/Discord_themes/refs/heads/main/Trickcal/Mayo/mayoheh.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  video {
    visibility: hidden;
  }
}

[class*=childWrapper]>svg:not([class*=favoriteIcon]) {
  display: var(--discord-icon);
}

[class*=childWrapper]:has(svg:not([class*=favoriteIcon]))::before {
  content: '';
  display: var(--home-icon);
  position: absolute;
  width: 70%;
  height: 70%;
  background: var(--text-normal);
  mask-image: var(--home-icon-url) center/contain no-repeat !important;
  mask: var(--home-icon-url) center/contain no-repeat !important;
}

[class*=channelTextAreaDisabled] {
  --prompt-text: "큭! 무슨 술수를…";
}

[class*=placeholder][class*=slateTextArea] {
  visibility: hidden;
}

[class*=placeholder][class*=slateTextArea]::before {
  visibility: visible;
  content: var(--prompt-text);
}

.typingDots_b88801>.ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;

  >strong {
    font-size: 12px;

    &::after {
      color: var(--text-secondary);
      font-weight: 500;
    }

    &:last-child::after {
      content: " 가 뭐라고 하는건가요?";
    }

    &:last-child:not(:first-child)::after {
      content: " 들이 뭐라고 하는건가요?";
    }

    &:nth-last-child(2)::after {
      content: ", 하고 "
    }

    &:nth-last-child(3)::after {
      content: ", 하고";
    }
  }

  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "여러명이 한번에 뭐라고 하는건가요?";
  }
}